@{
    ViewData["Title"] = "Home Page";
    var message = ViewBag.Message;
}

<br /><br />
<div class="col-md-offset-4 col-md-4">
   <br/>
   <div>
   <br/>
    ---------------------------------
    <br/>
    New Version :  @message
    <br/>
    ---------------------------------
    <br/>
    {{buildVersion}}
    <br/>
   </div>
</div>
