@{
    ViewData["Title"] = "Home Page";
    var message = ViewBag.Message;
}

<br /><br />
<div class="col-md-offset-4 col-md-4">
   <br/>
   <div>
    ---------------------------------
    New Version :  @message
    ---------------------------------
   </div>
</div>
